.app__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 830px) {
  .app__body {
    flex-direction: column-reverse;
    align-items:  center;
    padding: 30px 15px;
  }
}
